### MAVEN ###
target/
*.log
dependency-reduced-pom.xml

### INTELLIJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### ECLIPSE & VS CODE ###
.classpath
.project
.settings/
.vscode/
bin/

### DATABASE ###
*.db
*.sqlite
*.sqlite3
# File temporanei di lock di SQLite
*.db-journal
*.db-wal

### FILE TEMPORANEI E DI SISTEMA ###
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
*.tmp
*.bak
*.swp
hs_err_pid*

